// 변수 설정
:root {
  --title-logo-width: 700px;  /* 타이틀 로고 크기 */
  --button-size: 200px;        /* 버튼 크기 */
  --button-gap: 20px;         /* 버튼 간격 */
  --button-margin-bottom: 100px;      /* 버튼 위치 조정 */
  --button-margin-right: 50px;      /* 버튼 위치 조정 */
}

.home-page {
  position: relative; /* 부모 요소를 relative로 설정 */
  min-height: 100vh; /* 부모 높이를 확보 */
}

// 홈 페이지 헤더 스타일
.home-page-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('/assets/images/home/background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  // 반투명 필터
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* 흰색 반투명 */
  }

  // 타이틀 로고 중앙 정렬
  .title-logo {
    position: absolute;
    width: var(--title-logo-width);
    max-width: 80%;
    z-index: 10;
  }

  // 버튼 컨테이너
  .buttons {
    position: absolute;
    bottom: var(--button-margin-bottom);
    right: var(--button-margin-right);
    display: flex;
    gap: var(--button-gap);
    z-index: 10;

    /* 기본적으로 가로 정렬 */
    flex-direction: row;

    /* 화면이 500px 이하일 때 세로 정렬로 변경 */
    @media (max-width: 550px) {
        flex-direction: column;
    }

    // 버튼 이미지
    .btn-img {
      img {
        width: var(--button-size);
        height: auto;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.home-page-article {
  padding: 50px 0;
}
